<div class='destinations__gallery'>
  <ul class='swiper-wrapper'>
    {{#each destinations}}
      <li class='destinations__slide swiper-slide d-item'>
        <div class='d-item__img'>
          <img class='_img' src='{{imgSrc}}' alt='{{imgAlt}}' width='286'>
        </div>
        <div class='d-item__content'>
          <div class='d-item__location'>
        <span class='location-icon'>
          <i class='fas fa-map-marker-alt'></i>
        </span>
            <p class='t-item_content'>{{location}}</p>
          </div>
          <p class='d-item__title'>{{itemName}}</p>
          <p class='d-item__rate'>{{rating}}</p>
          <p class='d-item__price'>{{price}}</p>
          <p class='d-item__description'>{{description}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
